   <!-- Fixed navbar -->
<style type = "text/css">
	.navbar-static-top
	{
	background-color:white;
	font-size:22px;
	color= black;
	}
	h1,h2, li, p ,form,a{
		color: black;
		font-family: "Bebas Neue";
		
	}
	p{
		font-family:"Helvetica";
		font-size:20px;
	}
	form{
		font-family:"Helvetica";
		font-size:20px;
	}
	li{
		font-family:"Helvetica";
		font-size:20px;
	}
	h2:hover {
		background-color: darkgray;
	}
	h1{
		text-align:center;
	}
	

</style>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'lab-4:index' %}"style="color:black; font-size:22px;">My Website</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- LINK MENUJU table, dan link menuju home#form -->
            <li><a href="{% url 'lab-4:index' %}"style="color:black"#form"> Form </a></li>
            <li><a href="{% url 'lab-4:result_table' %}"style="color:black""> Messages </a> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
