{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Muhammad Rifqi Fathurrahman</h1>
<img src = "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAm6AAAAJDI2MDE4MzExLWMwOTgtNDJiNC1iMjI0LTA4MWQ2MjYwYzY3Ng.jpg"style=" border-radius:50%; display:block;margin:0 auto; margin-top:50px"width="225px"height="225px">
<hr/>

<section name="bio">
	<h2>Bio</h2 >
	<p>
		{{content}}
	</p>    
</section>
<hr/>
<section name="about_me">
	<h2>List</h2>
	<ul>
		{% for ii in about_me %}
		<li	> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>

    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

{% endblock %}
